@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
* {
  font-family: "Roboto";
  overflow-x: hidden;
}

/*
  Component: Nav
*/
.logo {
  width: 184px;
  height: 60px;
}
.logo:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}
.nav-links {
  font-size: 28px;
  font-family: "Roboto";
}

/*
  Component: Banner
*/

.landing {
  height: 100vh;
  width: 100vw;
  background-image: url("../src/img/back.jpg");
  background-size: cover;
  background-position: center;
}
.quote-container {
  margin: auto;
  max-width: 50% !important;
  align-self: center;
  height: 100%;
}
.quote {
  font-size: 28px;
  font-family: "Roboto";
  font-weight: bolder;
  color: black;
  text-align: center;
}
.author {
  text-align: end;
}
.cta-button {
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 100px;
  background-color: #70d026;
  border: 0px;
  opacity: 90%;
  font-family: "Roboto";
  box-shadow: 5px 5px 15px 5px #252525;
}

/*
  Component: Choice
*/
.choice-img {
  box-shadow: 5px 5px 10px 5px #838383;
}
.choice-img:hover {
  cursor: pointer;
  transform: scale(1.01, 1.01);
}

.choice-link {
  font-size: 22px;
}

.choice-link:hover {
  color: #70d026;
  cursor: pointer;
}

/*
  Component: Bottom
*/

.bottom {
  height: 250px;
  background-color: #70d026;
}
.bottom-text {
  font-size: 22px;
}

/*
  Component: ViewBanner
*/
.view-banner-container {
  margin-top: 150px;
}
.view-banner {
  width: 90%;
  height: 50vh;
  margin: auto;
  border-radius: 30px;
  background-size: cover;
}
.view-banner-text {
  font-size: 28px;
  color: white;
  font-weight: bold;
}
.characters {
  background-image: url("../src/img/personajes.jpg");
}
.episodes {
  background-image: url("../src/img/personajes.jpg");
}

/*
  Component: MainCard
*/

.top-text {
  font-size: 24px;
}

.main-card {
  background-color: #fafafa !important;
}
.main-card-image {
  width: 90%;
  margin: auto;
}
.main-card-text {
  text-align: center;
  font-size: 22px;
  padding-top: 30px;
}
.main-card:hover {
  border-color: #70d026;
  cursor: pointer;
}
.character-card {
  display: flex !important;
  background-color: #fafafa !important;
  flex-direction: row !important;
}
.character-card:hover {
  border-color: #70d026;
  cursor: pointer;
}
.character-card-image {
  border-radius: 100%;
  height: 75px;
}
.character-text {
  font-size: 18px;
  line-height: normal;
  vertical-align: middle;
  margin: 0;
}
.pagination-button {
  width: 60px;
  height: 30px;
  border-radius: 8px;
  border: none;
  margin: 0 10px;
}
@media (max-width: 480px) {
  .view-banner {
    background-position: center;
  }
}
