@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
* {
  font-family: "Roboto";
  overflow-x: hidden;
}

/*
  Component: Nav
*/
.logo {
  width: 184px;
  height: 60px;
}
.logo:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}
.nav-links {
  font-size: 28px;
  font-family: "Roboto";
}

/*
  Component: Banner
*/

.landing {
  height: 100vh;
  width: 100vw;
  background-image: url("../src/img/back.jpg");
  background-size: cover;
  background-position: center;
}
.quote-container {
  margin: auto;
  max-width: 50% !important;
  align-self: center;
  height: 100%;
}
.quote {
  font-size: 28px;
  font-family: "Roboto";
  font-weight: bolder;
  color: black;
  text-align: center;
}
.author {
  text-align: end;
}
.cta-button {
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 100px;
  background-color: #70d026;
  border: 0px;
  opacity: 90%;
  font-family: "Roboto";
  box-shadow: 5px 5px 15px 5px #252525;
}

/*
  Component: Choice
*/
.choice-img {
  box-shadow: 5px 5px 10px 5px #838383;
}
.choice-img:hover {
  cursor: pointer;
  transform: scale(1.01, 1.01);
}

.choice-link {
  font-size: 22px;
}

.choice-link:hover {
  color: #70d026;
  cursor: pointer;
}

/*
  Component: Bottom
*/

.bottom {
  height: 250px;
  background-color: #70d026;
}
.bottom-text {
  font-size: 22px;
}

/*
  Component: ViewBanner
*/

.view-banner {
  margin-top: 150px;
  width: 90%;
  height: 300px;
}
